<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/svg/portfolio.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body
    class="text-purple-400 bg-linear-to-br from-slate-950 via-blue-950 to-black bg-no-repeat bg-center bg-fixed bg-cover"
  >
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
  }
</style>
<script>
  const lang = new URL(window.location.href).pathname.split("/")[1] || "es";

  // Smooth scroll para todos los enlaces de ancla (header)
  document.querySelectorAll(`a[href^="/${lang}#"]`).forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();

      // Extraer solo el hash (parte después del #)
      const target = document.getElementById(
        this.getAttribute("href").split("#")[1]
      );

      target?.scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    });
  });
</script>
